@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Club Atletico Juventud de Liniers</h1>
    <img src="http://juventuddeliniers.com.ar/wp-content/uploads/2021/04/cropped-escudo-242x300-1.png">
    <br></br>
    <br></br>
    <h2> Sistema de gestion de socios</h2>
</div>
<hr />
